# this is important so that rofi will find my commands in ~/.local/bin
export PATH=$HOME/.local/bin:$PATH

nm-applet &
keepassxc &
element-desktop --hidden &
telegram-desktop -startintray &
signal-desktop --start-in-tray &
thunderbird &
